@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  background-image: url(../images/got_smaller.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: #fff!IMPORTANT;
  transition: all 300ms ease;
  font-family: 'Montserrat', sans-serif;
  transition: all 300ms ease;
}

button#random_button:hover {
  background-color:rgba(255, 223, 223, 0.342)!important;
}

#random-image-container {
	background-color: $zg-transparent-black;
	padding:15px;
	margin-bottom:15px;
	border-radius:7px;
	height:250px;
	background-size:contain;
	background-repeat:no-repeat;
	max-width:500px;
	margin:0 auto;
	text-align:center;
}

.random-image-01 {background-image:url('http://placehold.it/500x250&text=Image+01');}
.random-image-02 {background-image:url('http://placehold.it/500x250&text=Image+02');}
.random-image-03 {background-image:url('http://placehold.it/500x250&text=Image+03');}